<header class="header-area">
  <div class="delicious-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="deliciousNav">

          <!-- Logo -->
          <a class="nav-brand" [routerLink]="['/index']" routerLinkActive="active"><img
              src="assets/delicious/img/core-img/logo3_300x123.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Nav Start -->

            <div class="classynav">
              <ng-container *ngIf="login;else nonConnecte">
                <ul>
                  <li><a [routerLink]="['/index']" routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/recherche']" routerLinkActive="active">Recherche</a></li>
                  <li><a [routerLink]="['/recette/edit']" routerLinkActive="active">Ajout</a></li>
                  <li><a class="btn btn-link" (click)="logout()">Logout</a></li>
                </ul>
              </ng-container>
              <ng-template #nonConnecte>
                <ul>
                  <li><a [routerLink]="['/index']" routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/recherche']" routerLinkActive="active">Recherche</a></li>
                  <li><a [routerLink]="['/inscription']" routerLinkActive="active">Inscription</a></li>
                  <li><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
                </ul>
              </ng-template>
              <!-- Newsletter Form -->
              <div class="md-form mt-0 search-btn">
                <input class="form-control" type="text" placeholder="Recherche" aria-label="Recherche"
                  (keydown.enter)="recherche($event)">
                <!--<i class="fa fa-search" aria-hidden="true"></i>-->
              </div>

            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>