<div class="container" *ngIf="recette.picture != null">
  <div class="row">
    <div class="col-12">
      <img class="rounded mx-auto d-block" style="max-height: 500px" [src]="['data:image/jpeg;base64,'+ recette.picture.image]" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="receipe-headline my-5">
        <span>{{recette.dateCreation}}</span>
        <h2>{{recette.nom}}</h2>
        <div class="receipe-duration">
          <h6>Pour {{recette.nbPersonne}} personnes</h6>
          <h6>Durée: {{recette.temps}} mins</h6>
          <h6>Difficulté : {{difficulteString}}</h6>
          <h6>Coût : {{coutString}}</h6>
        </div>
      </div>

      <div  *ngFor="let etape of recette.etapes">
        <img *ngIf="etape.picture != null" class="rounded mx-auto d-block" style="max-height: 170px" [src]="['data:image/jpeg;base64,'+ etape.picture.image]" alt="">
        <div class="single-preparation-step d-flex">
        <h4>{{etape.numEtape+1}}.</h4>
        <p>{{etape.texte}}</p>
        </div>
      </div>

    </div>


    <div class="col-12 col-lg-4">
      <div class="ingredients my-5">
        <h4>Ingredients</h4>

        <!-- Custom Checkbox -->
        <div class="custom-control custom-checkbox" *ngFor="let ingredient of recette.ingredients">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label">{{ingredient.id.ingredient.nom}}
            : {{ingredient.quantite}} {{ingredient.unite}}</label>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Commentaires</h4>
      <div class="receipe-headline my-4" *ngFor="let commentaire of recette.commentaires">
        <div class="receipe-duration">
          <h6>{{commentaire.id.auteur.pseudo}}</h6>
          <p>{{commentaire.texte}}</p>
        </div>
      </div>
      <div>

        <textarea class="form-control"></textarea>
        <button class="btn btn-outline-success my-2">Ajouter un commentaire</button>
      </div>
    </div>
  </div>


</div>

