<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="/assets/delicious/img/bg-img/bg5.jpg" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="receipe-headline my-5">
        <span>April 05, 2018</span>
        <h2>{{recette.nom}}</h2>
        <div class="receipe-duration">
          <h6>Pour {{recette.nbPersonne}} personnes</h6>
          <h6>Durée: {{recette.temps}} mins</h6>
          <h6>Difficulté : {{recette.difficulte}}</h6>
          <h6>Coût : {{recette.cout}}</h6>
        </div>
      </div>

      <div class="single-preparation-step d-flex" *ngFor="let etape of recette.etapes">
        <h4>{{etape.numEtape}}.</h4>
        <p>{{etape.texte}}</p>
      </div>

    </div>


    <div class="col-12 col-lg-4">
      <div class="ingredients my-5">
        <h4>Ingredients</h4>

        <!-- Custom Checkbox -->
        <div class="custom-control custom-checkbox" *ngFor="let ingredient of recette.ingredients">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label">{{ingredient.id.ingredient.nom}}
            : {{ingredient.quantite}} {{ingredient.mesure_solide}}</label>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Commentaires</h4>
      <div class="receipe-headline my-4" *ngFor="let commentaire of recette.commentaires">
        <div class="receipe-duration">
          <h6>{{commentaire.id.auteur.pseudo}}</h6>
          <p>{{commentaire.texte}}</p>
        </div>
      </div>
    </div>
  </div>


</div>

