<h1 class="text-center">Recherche avancée</h1>
<div class="container">
  <form (ngSubmit)="rechercher()">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nom recette</label>
      <input [(ngModel)]="namelike" name="namelike" class="form-control" id="exampleFormControlInput1"
        placeholder="Rechercher">
    </div>
    <div class="form-group">
      <label for="sel1">Note</label>
      <select [(ngModel)]="note" name="note" class="form-control" id="sel1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" [(ngModel)]="type" name="type">
        <option value="recette">Tout</option>
        <option value="boisson">Boisson</option>
        <option value="entree">Entree</option>
        <option value="plat">Plat</option>
        <option type="dessert">Dessert</option>
      </select>
    </div>
    <div class="form-group">
      <label>Difficulté</label>
      <select class="form-control" [(ngModel)]="difficulte" name="difficulte">
        <option value="F">Facile</option>
        <option value="M">Medium</option>
        <option value="D">Difficile</option>
        <option value="E">Expert</option>
      </select>
    </div>
    <div class="form-group">
      <label>Coût</label>
      <select class="form-control" [(ngModel)]="cout" name="cout">
        <option value="L">Bon marché</option>
        <option value="M">Moyen</option>
        <option value="E">Cher</option>
        <option value="VE">Très cher</option>
      </select>
    </div>
    <div>
      <button class="btn btn-success" type="submit">Rechercher</button>
    </div>
  </form>
</div>