<h1 class="text-center">Recherche avancée</h1>
<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nom recette</label>
      <input class="form-control" id="exampleFormControlInput1" placeholder="Rechercher">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Type</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Type</option>
        <option>Boisson</option>
        <option>Entree</option>
        <option>Plat</option>
        <option>Dessert</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Difficulté</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Difficulte</option>
        <option>Facile</option>
        <option>Moyen</option>
        <option>Difficile</option>
        <option>Expert</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Coût</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Coût</option>
        <option>Faible</option>
        <option>Moyen</option>
        <option>Élevé</option>
        <option>Très Élevé</option>
      </select>
    </div>
    <div>
      <button class="btn btn-success">Rechercher</button>
    </div>
  </form>
</div>

